@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ol,
ul,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
}

body {
    height: 100vh !important;
    background: #4A00E0;
    overflow: hidden;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

nav {
    width: 100%;
    height: 100vh;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: auto 0;
}

.menu {
    border-radius: 10px;
    background: #8E2DE2;
    /* fallback for old browsers */
    background: inset -webkit-linear-gradient(to right, #8E2DE2, #4A00E0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: inset linear-gradient(to right, #8E2DE2, #4A00E0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.55);
}

.menu ul li {
    text-align: center;
    padding: 12px;
}

.menu ul li a {
    padding: 10px 0;
}

.menu ul li a span {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.menu ul li a i {
    color: rgb(255, 255, 255);
    font-size: 22px;
    display: block;
    padding: 10px 0px;

}

.menu ul li:hover a span {
    color: rgb(61, 11, 160);
}

.menu ul li:hover a i {
    color: rgb(212, 212, 227);
}

.menu-hr {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.771), rgba(7, 121, 152, 0.426));
    height: 2px;
    border: none;
    margin: 0;
}

.own-top {
    background: #8E2DE2;
    background: -webkit-linear-gradient(to top, #8E2DE2, #4A00E0);
    background: linear-gradient(to top, #8E2DE2, #4A00E0);

    height: 50vh;
    width: 100%;
    position: relative;
}

.own-top::before {
    content: '';
    position: absolute;
    border-left: 40vh solid #4A00E0;
    border-right: 40vh solid transparent;
    border-top: 15vh solid transparent;
    bottom: 0;
    left: 0;
}

.own-top::after {
    content: '';
    position: absolute;
    border-left: 40vh solid transparent;
    border-right: 40vh solid #4A00E0;
    border-top: 15vh solid transparent;
    bottom: 0;
    right: 0;
}
.own-top-b {
    background: transparent;
    background: -webkit-linear-gradient(to top, #2f93ef, transparent);
    background: linear-gradient(to top, #2f93ef, transparent);

    height: 50vh;
    width: 100%;
    position: relative;
}

.own-top-b::before {
    content: '';
    position: absolute;
    border-left: 40vh solid #242424;
    border-right: 40vh solid transparent;
    border-top: 15vh solid transparent;
    bottom: 0;
    left: 0;
}

.own-top-b::after {
    content: '';
    position: absolute;
    border-left: 40vh solid transparent;
    border-right: 40vh solid #242424;
    border-top: 15vh solid transparent;
    bottom: 0;
    right: 0;
}

img {
    height: 150px;
    width: 150px;
    border: 6px solid rgba(61, 11, 160, 0.693);
    ;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.color-ch ul{
    display: block;
    /* justify-content: end; */
    position: fixed;
    top: 50%;
    right: 1%;
    z-index: 9;
}
.color-ch ul button{
    margin: 2px;
    height: 20px;
    width: 20px;
    border: 1px solid #fff;
    outline: 0;
    border-radius: 50%;
    display: block;

}
.color-ch ul button.blue-c{
    background: #4A00E0;
}
.color-ch ul button.black-c{
    background: #242424;
}
.own-details {
    height: 50vh;
    width: 100%;
    padding-top: 15vh;
    background: #8E2DE2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #8E2DE2, #4A00E0);
    background: linear-gradient(to bottom, #8E2DE2, #4A00E0);
    position: relative;
}

.own-details::before {
    content: '';
    position: absolute;
    border-left: 40vh solid #4A00E0;
    border-right: 40vh solid transparent;
    border-bottom: 15vh solid transparent;
    top: 0;
    left: 0;
}

.own-details::after {
    content: '';
    position: absolute;
    border-left: 40vh solid transparent;
    border-right: 40vh solid #4A00E0;
    border-bottom: 15vh solid transparent;
    top: 0;
    right: 0;
}
.own-details h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.own-details p {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
}
.black-c-m{
    height: 50vh;
    width: 100%;
    padding-top: 15vh;
    background: #242424;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2f93ef, #242424);
    background: linear-gradient(to bottom, #2f93ef, #242424);
    position: relative;
}
.black-c-m::before {
    content: '';
    position: absolute;
    border-left: 40vh solid #242424;
    border-right: 40vh solid transparent;
    border-bottom: 15vh solid transparent;
    top: 0;
    left: 0;
}
.black-c-m h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.black-c-m p {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
}

.black-c-m::after {
    content: '';
    position: absolute;
    border-left: 40vh solid transparent;
    border-right: 40vh solid #242424;
    border-bottom: 15vh solid transparent;
    top: 0;
    right: 0;
}



.content {
    color: #fff;
    /* height: 100vh; */
    width: 100%;
}

.content .home {
    height: 100%;
    padding: 5vh;
    margin: 0 5vh;
    overflow: auto;
    position: absolute;
    bottom: 0%;
    background: #8E2DE2;
    opacity: 1;
}

.content .about {
    height: 100%;
    padding: 5vh;
    margin: 0 5vh;
    overflow: auto;
    position: absolute;
    bottom: -100%;
    background: #8E2DE2;
    opacity: 0;
}

.content .service {
    height: 100%;
    padding: 5vh;
    margin: 0 5vh;
    overflow: auto;
    position: absolute;
    bottom: -100%;
    background: #8E2DE2;
    opacity: 0;
}

.content .portfolio {
    height: 100%;
    padding: 5vh;
    margin: 0 5vh;
    overflow: auto;
    position: absolute;
    bottom: -100%;
    background: #8E2DE2;
    opacity: 0;
}

.content .contact {
    height: 100%;
    padding: 5vh;
    margin: 0 5vh;
    overflow: auto;
    position: absolute;
    bottom: -100%;
    background: #8E2DE2;
    opacity: 0;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
}

@media screen {
    .content{
        /* position: relative; */
    }
    .content .home,
    .content .about,
    .content .service,
    .content .portfolio,
    .content .contact {
        border-radius: 2%;
        left: 52%;
        right: 0;
    }
    /* .content .moba{
        display: ;
    } */
    .content .contact {
        /* position: initial; */
    }
}

@media (max-width: 992px) {
    .menu ul li {
        padding: 10px;
    }
}

@media (max-width: 767px) {
    nav {
        height: 20vh;
    }

    .menu ul {
        display: flex;
        justify-content: center;
        align-items: inherit;
    }

    .content .home,
    .content .about,
    .content .service,
    .content .portfolio,
    .content .contact {
        position: inherit;
        margin: 0;
        text-align: center;
        height: 90vh;
        padding-top: 10vh;
    }
}

@media (max-width: 576px) {
    nav {
        height: 20vh;
    }

    .menu ul li {
        padding: 7px;
    }

    .menu ul li a span {
        font-size: 12px;
        font-weight: 500;
    }

    .content .home,
    .content .about,
    .content .service,
    .content .portfolio,
    .content .contact {
        position: inherit;
    }
}

@media print {
    body {
        background: #4A00E0 !important;
    }

    .print {
        display: none;
    }
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #fff #8f54a000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #8f54a000;
}

*::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 15px !important;
    border: 2px solid #8f54a000;
}